.ds-meta-card {
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;
}


.dsmeta-sales-title {
    color: aqua;
    font-size: 24px;
    margin-bottom: 20px;
}

.dsmeta-form-control-container {
    margin-bottom: 16px;
    max-width: 300px;
    min-width: 280px;
}

.dsmeta-form-control {
    width: 100%;
    height: 46px;
    background-color: #1B2531;
    border: 1px solid #384459;
    border-radius: 5px;
    color: #9aaabe;
    padding: 0 20px;
    font-size: 18px;

}

.dsmeta-sales-table {
    width: 100%;
    border-collapse: collapse;
}

.dsmeta-sales-table thead {
    Height: 55px;
    font-size: 16px;
    color: yellow;
    text-align: center;
}

.dsmeta-sales-table tbody {
    font-size: 14px;
    font-wight: 400;
    color: white;
    text-align: center;

}

.dsmeta-sales-table tbody tr {
    height: 74px;
    border-top: 1px solid #5f6e82;

}

.dsmeta-sales-table tbody tr:hover>td {
    background-color: #384459;

}

.dsmeta-sales-table tbody tr:nth-child(odd) {
    background-color: #242C3B;

}

.dsmeta-red-button-container {
    display: flex;
    justify-content: center;
}